[Unit]
DefaultDependencies=no
Conflicts=umount.target
Before=local-fs.target umount.target systemd-tmpfiles-setup.service
After=var.mount

[Mount]
What=/var/lib/cni/bin
Where=/opt/cni/bin
Type=none
Options=bind

[Install]
WantedBy=local-fs.target
